@tailwind components;
@tailwind base;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;800;900&display=swap');

.sanchez {
    font-family: 'Sanchez', serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

table, th, td {
    border: 1px solid rgb(55, 55, 55);
    padding: 1rem;
    font-size: 1.5rem;
}

tbody tr td:first-child {
    font-weight: bold;
}

#mobile-menu {
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
}


 